# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Back-End/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/Back-End/build

# misc
.DS_Store
/Back-End/.env
/Back-End/.env.local
/Back-End/.env.development.local
/Back-End/.env.test.local
/Back-End/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*