.conatact-content {
  margin-top: 50px;
  margin-left: 265px;
  width: 100%;
  .title {
    @extend %title;
  }
}

/* main {
  .container-top {
    padding: 60px;
    .container-int {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
    }
  }

  .titles {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 5% 15% 15% 15% 18% 15% 12%;

    .select {
      align-self: center;
      grid-column: 1/1;
      margin-left: 34px;
    }

    .contactTitle {
      font-size: larger;
      grid-column: 2/3;
      text-align: center;
    }
    .countryTitle {
      font-size: larger;
      grid-column: 3/4;
    }
    .companyTitle {
      font-size: larger;
      grid-column: 4/5;
    }
    .roleTitle {
      font-size: larger;
      grid-column: 5/6;
    }
    .interestTitle {
      font-size: larger;
      grid-column: 6/7;
    }
    .actionsTitle {
      font-size: larger;
      grid-column: 7/8;
      margin-left: 28px;
    }
  }

  .contact {
    display: grid;
    border: transparent 1px;
    margin-top: 10px;
    line-height: 0px;
    grid-template-rows: 35px 25px;
    grid-template-columns: 5% 15% 15% 15% 18% 15% 6% 6%;
    border-left: solid hsl(180, 29%, 50%) 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px -10px hsl(180, 8%, 52%);
    &:hover {
      background-color: rgba(201, 196, 196, 0.836);
    }

    .selectCont {
      align-self: center;
      grid-column: 1/2;
      grid-row: 1/3;
      margin-left: 28px;
    }

    .name {
      grid-column: 2/3;
      grid-row: 1/1;
      margin-right: 20px;
      font-size: larger;
      text-align: center;
    }

    .email {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-right: 20px;
      text-align: center;
      color: gray;
    }
    .country {
      grid-column: 3/4;
      grid-row: 1/1;
      font-size: larger;
      margin-top: auto;
    }
    .region {
      grid-column: 3/4;
      grid-row: 2/2;
      margin-top: -2px;
      color: gray;
    }
    .company {
      grid-column: 4/5;
      grid-row: 1/3;
      font-size: larger;
      align-self: center;
    }
    .role {
      grid-column: 5/6;
      grid-row: 1/3;
      font-size: larger;
      align-self: center;
    }
    .progress {
      grid-column: 6/7;
      grid-row: 1/3;
      align-self: center;
      height: 9px;
      width: 70%;
    }
    .fa-edit {
      grid-column: 7/8;
      grid-row: 1/2;
      align-self: center;
      margin-left: 50px;
      border-radius: 5px;
      width: 15px;
      height: 15px;
      &:hover {
        background-color: hsl(180, 29%, 50%);
        border-color: hsl(180, 29%, 50%);
      }
    }

    .fa-trash-alt {
      grid-column: 8/9;
      grid-row: 1/2;
      align-self: center;
      margin-left: 25px;
      border-radius: 5px;
      width: 16px;
      height: 16px;

      &:hover {
        background-color: hsl(0, 46%, 56%);
        border-color: hsl(180, 29%, 50%);
      }
    }
  }
  .modal {
    .modal-dialog {
      .modal-content {
        width: 400px;
        .modal-header {
          .modal-title {
            font-weight: bold;
          }
        }
        .modal-body {
          .profilePhoto {
            display: flex;
          }
        }
      }
    }
  }
}
 */

.contact {
  main {
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
    .contactTable {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
