@media screen and (min-width: 1024px) {
  .users-content {
    margin-left: 180px;
  }
  .region-city-content {
    margin-left: 180px;
  }
  .contact-content {
    margin-left: 180px;
  }
  .company-content {
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .users-content {
    margin-left: 230px;
  }
  .region-city-content {
    margin-left: 230px;
  }
  .contact-content {
    margin-left: 230px;
  }
  .company-content {
    margin-left: 230px;
  }
}

@media screen and (min-width: 1440px) {
  .users-content {
    margin-left: 260px;
  }
  .region-city-content {
    margin-left: 260px;
  }
  .contact-content {
    margin-left: 260px;
  }
  .company-content {
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .users-content {
    margin-left: 350px;
  }
  .region-city-content {
    margin-left: 350px;
  }
  .contact-content {
    margin-left: 350px;
  }
  .company-content {
    margin-left: 350px;
  }
}
