@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 93%;
      grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #38d39f;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#32be8f), color-stop(#38d39f), to(#32be8f));
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
  .wave {
    display: none;
  }
  .login-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #1b262c;
}

body header .logo {
  margin-left: 30px;
}

body header .logo h2 {
  font-family: "Syne Mono", monospace;
  color: #38d39f;
}

body header .nav {
  margin: 0 20px;
}

body header .nav ul {
  font-weight: bold;
}

main {
  margin-left: 15px;
}

main .firstSect .searchUsersInput {
  width: 490px;
}

main .firstSect .modal-content {
  border-radius: 5px;
  width: 720px;
}

main .firstSect .modal-content .modal-header {
  background-color: #5ba4a4;
}

main .firstSect .modal-content .modal-header .modal-title {
  color: white;
}

main .firstSect .modal-content .modal-body .emailExist {
  color: red;
  font-size: small;
}

main .firstSect .modal-content .modal-body .passwordMessage {
  color: red;
  font-size: small;
}

main .firstSect .modal-content .modal-body .lackFields {
  color: red;
  font-size: small;
}

main .firstSect button {
  float: right;
  background-color: #5ba4a4;
  border-color: #5ba4a4;
  margin-right: 40px;
}

main .firstSect button:hover {
  background-color: #6abebe;
  border-color: #6abebe;
}

main .usersTitles {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-columns: 5% 25% 25% 20% 20% 5%;
      grid-template-columns: 5% 25% 25% 20% 20% 5%;
}

main .usersTitles .select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 34px;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .usersTitles .iconsContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

main .usersTitles .iconsContainer1 .userName {
  font-size: larger;
}

main .usersTitles .iconsContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

main .usersTitles .iconsContainer2 .userLastName {
  font-size: larger;
}

main .usersTitles .iconsContainer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

main .usersTitles .iconsContainer3 .userEmail {
  font-size: larger;
}

main .usersTitles .iconsContainer4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

main .usersTitles .iconsContainer4 .userProfile {
  font-size: larger;
}

main .usersTitles .fa-sort-up {
  margin-left: 10px;
  z-index: 20;
}

main .usersTitles .fa-sort-down {
  margin-left: -10px;
  margin-top: 6px;
  z-index: 20;
}

main .user {
  display: -ms-grid;
  display: grid;
  border: transparent 1px;
  margin-top: 10px;
  line-height: 0px;
  -ms-grid-rows: 35px;
      grid-template-rows: 35px;
  -ms-grid-columns: 5% 25% 25% 20% 20% 2.5% 2.5%;
      grid-template-columns: 5% 25% 25% 20% 20% 2.5% 2.5%;
  border-left: solid #5ba4a4 5px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px -10px #7b8e8e;
          box-shadow: 0px 5px 20px -10px #7b8e8e;
}

main .user:hover {
  background-color: rgba(201, 196, 196, 0.836);
}

main .user .selectCont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: 28px;
}

main .user .name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-right: 20px;
  font-size: larger;
  margin-top: auto;
}

main .user .lastName {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-right: 20px;
  font-size: larger;
  margin-top: auto;
}

main .user .email {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: larger;
  margin-top: auto;
}

main .user .profile {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: larger;
  margin-top: auto;
}

main .user .fa-edit {
  border-radius: 5px;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 15px;
  height: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .user .fa-edit:hover {
  background-color: #5ba4a4;
  border-color: #5ba4a4;
}

main .user .fa-trash-alt {
  border-radius: 5px;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 16px;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .user .fa-trash-alt:hover {
  background-color: #c25b5b;
  border-color: #5ba4a4;
}

main .user .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container-top {
  padding: 60px;
}

main .container-top .container-int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

main .titles {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-grid-columns: 5% 15% 15% 15% 18% 15% 12%;
      grid-template-columns: 5% 15% 15% 15% 18% 15% 12%;
}

main .titles .select {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  grid-column: 1/1;
  margin-left: 34px;
}

main .titles .contactTitle {
  font-size: larger;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

main .titles .countryTitle {
  font-size: larger;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

main .titles .companyTitle {
  font-size: larger;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

main .titles .roleTitle {
  font-size: larger;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

main .titles .interestTitle {
  font-size: larger;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

main .titles .actionsTitle {
  font-size: larger;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  margin-left: 28px;
}

main .contact {
  display: -ms-grid;
  display: grid;
  border: transparent 1px;
  margin-top: 10px;
  line-height: 0px;
  -ms-grid-rows: 35px 25px;
      grid-template-rows: 35px 25px;
  -ms-grid-columns: 5% 15% 15% 15% 18% 15% 6% 6%;
      grid-template-columns: 5% 15% 15% 15% 18% 15% 6% 6%;
  border-left: solid #5ba4a4 5px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px -10px #7b8e8e;
          box-shadow: 0px 5px 20px -10px #7b8e8e;
}

main .contact:hover {
  background-color: rgba(201, 196, 196, 0.836);
}

main .contact .selectCont {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin-left: 28px;
}

main .contact .name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
  margin-right: 20px;
  font-size: larger;
  text-align: center;
}

main .contact .email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-right: 20px;
  text-align: center;
  color: gray;
}

main .contact .country {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
  font-size: larger;
  margin-top: auto;
}

main .contact .region {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  grid-row: 2/2;
  margin-top: -2px;
  color: gray;
}

main .contact .company {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: larger;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .contact .role {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: larger;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .contact .progress {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 9px;
  width: 70%;
}

main .contact .fa-edit {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 50px;
  border-radius: 5px;
  width: 15px;
  height: 15px;
}

main .contact .fa-edit:hover {
  background-color: #5ba4a4;
  border-color: #5ba4a4;
}

main .contact .fa-trash-alt {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 25px;
  border-radius: 5px;
  width: 16px;
  height: 16px;
}

main .contact .fa-trash-alt:hover {
  background-color: #c25b5b;
  border-color: #5ba4a4;
}

main .modal .modal-dialog .modal-content {
  width: 400px;
}

main .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: bold;
}

main .modal .modal-dialog .modal-content .modal-body .profilePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */