@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

$principal_font: "Poppins", sans-serif;
$secondary_font: "Syne Mono", monospace;
$pricipal_color: #38d39f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $principal_font;
}

@import "sass/index";
@import "sass/header";
@import "sass/users";
@import "sass/contact";
